@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero-img {
    height: 400px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
        url("./chang-duong-KrfID_ZQxWs-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.image-cropper {
    width: 250px;
    height: 250px;

    overflow: hidden;
    border-radius: 50%;
    border: 2.5px solid rgb(90, 90, 90);
}

.profile-pic {
    display: inline;

    margin: 0 auto;
    margin-right: -10%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 92.5%;
    width: auto;
}
